[user]
    name = Yusuke Uchida
    email = fantomyuu0623@gmail.com
[init]
    templatedir = ~/.git_templates
	defaultBranch = main
[core]
    editor = nvim
[color]
    ui = auto
[alias]
    tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ar %Creset%x09by"%C(cyan ul)%an%Creset" %x09%C(auto)%s %d'
    l = log --stat --decorate --find-renames
    big = ! git rev-list --objects --all | git cat-file --batch-check='%(objecttype) %(objectsize:disk) %(rest)' | grep '^blob' | sort --numeric-sort --key=2
    git = ! git
    praise = blame
[pager]
    diff = delta
[include]
    path = ~/themes.gitconfig
[interactive]
    diffFilter = delta --color-only
[delta]
    features = woolly-mammoth
