bin/bin/chromedriver
bin/bin/spin_check
bin/bin/lazygit
karabiner/.config/karabiner/assets
karabiner/.config/karabiner/*auto*

**.DS_Store**

**.zcompdump**
**.zcompcache**
zsh/.config/zsh/*session*
zsh/.config/zsh/.yazp
**.zsh_history**
**completion**
zsh/.config/zsh/plugins**
ranger/.config/ranger/plugins**

tmux/.config/tmux/plugins/*
bin/bin/clang*

bin/bin/bin
bin/bin/lib
bin/bin/neovim
bin/bin/share

bin/bin/nvim-macos
bin/bin/nvim-dev
bin/bin/ndev
bin/bin/nvim
