bin/bin/chromedriver
bin/bin/spin_check
bin/bin/lazygit
bin/bin/nvim*
karabiner/.config/karabiner/assets
karabiner/.config/karabiner/*auto*

**.DS_Store**

**.zcompdump**
**.zcompcache**
zsh/.config/zsh/*session*
zsh/.config/zsh/.yazp
**.zsh_history**
**completion**
zsh/.config/zsh/plugins**
ranger/.config/ranger/plugins**

tmux/.config/tmux/plugins/*
bin/bin/clang*

bin/bin/nvim-dev
bin/bin/nvim-stable
bin/bin/ndev
bin/bin/nvim
bin/bin/shfmt
bin/bin/stylua
bin/bin/checksec.sh
bin/bin/checksec
