bin/bin/chromedriver
bin/bin/spin_check
bin/bin/lazygit
karabiner/.config/karabiner/assets
karabiner/.config/karabiner/*auto*

**.DS_Store**

**.zcompdump**
**.zcompcache**
zsh/.config/zsh/*session*
zsh/.config/zsh/.yazp
**.zsh_history**
**completion**
